.vscode


/week01/datasets
/week02
/week03

/week04/.ipynb_checkpoints
**/.ipynb_checkpoints

/data/downloaded/MNIST/
/data/csv/car_evaluation_processed.csv

/week04/ref.md
/week04/dask-basics.ipynb
/week04/dask-spark.ipynb
/week04/ray-1.ipynb
/week04/data/nycflights
/week04/test
/week04/mydask.png
/week04/ray-mnist-pytorch.py
/week04/nycflights.tar.gz

/week05
/week05/ref.md

/week06
/week07
/week08
/week09
/week10
/week11
/week12
/week13
/doc
todo.json
test-score.md