# ignored files

**/.ipynb_checkpoints
**/__pycache__/
**/.vscode/
/ref
/dask-worker-space/
/data/csv/nycflights
/data/csv/nycflights.tar.gz

/data/downloaded/MNIST/
/data/csv/car_evaluation_processed.csv

/data/raw/

/week01/datasets
/week02/training/logs/
/week03
/week04/ref.md
# /week04/dask-basics.ipynb
# /week04/dask-spark.ipynb
# /week04/ray-mnist-pytorch.py
/week04/data/nycflights
/week04/test
/week04/mydask.png

/week04/nycflights.tar.gz

/week05/dask-basics-2.ipynb
/week05/setup.md
/week05/ref.md

/week06/sentiment_*
/week06/naive_bayes_model.pkl


/week07
/week08
/week09
/week10
/week11
/week12
/week13
todo.json
test-score.md