[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]

[requires]
python_version = "3.7"

[dev-packages]
pandas = "*"
matplotlib = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"
jupyter = "*"
